@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>

<h3>devLopesRenato</h3>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/devlopesrenato">devLopesRenato</a><br />
    <strong>Email:</strong> <a href="mailto:renatolopes37@gmail.com">renatolopes37@gmail.com</a><br />
</address>
